@model WatchList.Data.UserMovieData

<table>
    <tbody>
        <tr>
            <td style="min-width:200px;">Watched</td>
            <td>@Model.Watched</td>
        </tr>
        <tr>
            <td style="min-width:200px;">Rating</td>
            <td>@((object)Model.Rating ?? "Not rated")</td>
        </tr>
        <tr>
            <td style="min-width:200px;">WantToWatch</td>
            <td>@Model.WantToWatch</td>
        </tr>
    </tbody>
</table>