@page
@model WatchList.Pages.MovieModel
@{
}
<h1>@ViewData["Title"]</h1>
<p>Search by movie title:</p>
<form>
    <input asp-for="Query" style="width:300px;" />
    <button action="submit">Submit</button>
</form>
<br />
@if (string.IsNullOrEmpty(Model.Query))
{

}
else if (Model.MovieData == null)
{
    <p>We haven't heard of this movie :-(</p>
}
else
{
    @if (Model.MovieData.TryGetValue("Poster", out string poster))
    {
        <img src="@poster" />
    }
    <p></p>
    <table>
        <tbody>
            <tr>
                <td style="min-width:200px;">Watched</td>
                <td id="fld_watched"></td>
            </tr>
            <tr>
                <td style="min-width:200px;"></td>
                <td><button id="btn_watched">I watched this movie!</button></td>
            </tr>
            <tr>
                <td style="min-width:200px;">Rating</td>
                <td id="fld_rating"></td>
            </tr>
            <tr>
                <td style="min-width:200px;"></td>
                <td id="td_ratings">
                    <button id="btn_rating1">*</button>
                    <button id="btn_rating2">**</button>
                    <button id="btn_rating3">***</button>
                    <button id="btn_rating4">****</button>
                    <button id="btn_rating5">*****</button>
                </td>
            </tr>
            <tr>
                <td style="min-width:200px;">WantToWatch</td>
                <td id="fld_wantToWatch"></td>
            </tr>
            <tr>
                <td style="min-width:200px;"></td>
                <td><button id="btn_wantToWatch">I want to watch this movie!</button></td>
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>
            @foreach ((string key, string value) in Model.MovieData)
            {
                @if (key == "Poster") continue;
                <tr>
                    <td style="min-width:200px;">@key</td>
                    <td>@value</td>
                </tr>
            }
        </tbody>
    </table>

    <script>
        function refreshUserMovieData(data) {
            $("#fld_watched").text(data.timesWatched + " times");
            $("#td_ratings").toggle(data.timesWatched > 0)
            $("#fld_rating").text(data.rating ?? "Not rated");
            $("#fld_wantToWatch").text(data.wantToWatch);
            $("#btn_wantToWatch").toggle(!data.wantToWatch)
        }

        function getRatingCallback(rating) {
            return () => {
                $.ajax({
                    url: "/UserMovieData/@Model.MovieData.MovieId/rate",
                    data: JSON.stringify({ "rating": rating }),
                    contentType: "application/json",
                    type: "POST",
                    success: refreshUserMovieData
                })
            }
        }

        window.addEventListener("DOMContentLoaded", function () {
            $.ajax({
                url: "/UserMovieData/@Model.MovieData.MovieId",
                type: "GET",
                success: refreshUserMovieData
            });
            document
                .getElementById("btn_watched")
                .addEventListener("click", function () {
                    $.ajax({
                        url: "/UserMovieData/@Model.MovieData.MovieId/watched",
                        type: "POST",
                        success: refreshUserMovieData
                    })
                });
            document
                .getElementById("btn_wantToWatch")
                .addEventListener("click", function () {
                    $.ajax({
                        url: "/UserMovieData/@Model.MovieData.MovieId/wantToWatch",
                        type: "POST",
                        success: refreshUserMovieData
                    })
                });
            for (var rating = 1; rating <= 5; rating++) {
                document
                    .getElementById("btn_rating" + rating)
                    .addEventListener("click", getRatingCallback(rating));
            }
        });
    </script>
}